@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-serif: 'Instrument Serif', serif;

  --animate-wiggle: wiggle 0.125s ease-in-out infinite;
  @keyframes wiggle {
    0%, 100% {
        transform: rotate(6deg);
    }
    50% {
      transform: rotate(-6deg);
    }
  }
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
